%position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  max-width: 100%;
  box-sizing: border-box;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.SpinnerIcon {
  @extend %position-center;
  width: 40px;
  height: 40px;
  display: flex;

  &-icon {
    animation: spin 3s infinite;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M308.364,75.636c-19.279,0-34.909,15.63-34.909,34.909v290.909c0-19.279,15.63-34.909,34.909-34.909h133.818V75.636H308.364z"/></g></g><g><g><path d="M203.636,75.636H69.818v290.909h133.818c19.279,0,34.909,15.63,34.909,34.909V110.545C238.545,91.266,222.915,75.636,203.636,75.636z"/></g></g><g><g><path d="M477.091,110.545v290.909H343.273c-19.279,0-34.909,15.63-34.909,34.909H512V110.545H477.091z"/></g></g><g><g><path d="M168.727,401.455H34.909V110.545H0v325.818h203.636C203.636,417.085,188.006,401.455,168.727,401.455z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;

  }

  &--hidden {
    display: none;
  }

  &--small {
    width: 20px;
    height: 20px;
  }

  &--large {
    width: 60px;
    height: 60px;
  }

}

.SpinnerError {
  @extend %position-center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-button {
    border: none;
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve"><g><g><path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>') no-repeat center;
    width: 40px;
    height: 40px;
  }

  &-text {
    margin-top: $margin-small;
  }

  &--hidden {
    display: none;
  }
}

.SpinnerContent {



  &--hidden {
    display: none;
  }
}