.ReadList {
  height: 100%;
  display: flex;
  flex-direction: column;


  &-header {
    padding: $padding-small;
    box-shadow: 0 0 10px 0 rgba(#333, 0.2);
    margin-bottom: 10px;
  }

  &-body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    padding: $padding-small;
  }
}